/* Estilo para el video de fondo */
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Envía el video al fondo */
}

/* Estilo para el cuerpo */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedor principal */
.container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con algo de transparencia */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    z-index: 1; /* Asegura que el contenido esté por encima del video */
}

/* Estilo del encabezado */
h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo de la lista */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

/* Estilo del enlace */
a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}


#hero {
    min-height: 100vh;
    position:relative;
}
