{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Registrar Registro</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <video muted autoplay loop id="background-video">
        <source src="{% static 'video/fondo.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="container">
        <h1>Registrar Registro</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrar</button>
        </form>
        <a href="{% url 'registro:ver_registros' %}">Ver Registros</a>
    </div> 
</body>
</html>
