{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Ver Propietarios</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <video muted autoplay loop id="background-video">
        <source src="{% static 'video/fondo.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="container">
        <h1>Propietarios</h1>
        <ul>
            {% for vehiculo in vehiculos %}
            <li>{{ vehiculo.matricula }} - {{ vehiculo.marca }} - {{ vehiculo.modelo }} - {{ vehiculo.color }} - Propietario: {{ vehiculo.propietario.nombre }}</li>
            {% empty %}
            <li>No hay vehículos registrados.</li>
            {% endfor %}
        </ul>
        <a href="{% url 'registro:registrar_propietario' %}">Registrar Nuevo Propietario</a>
        <a href="{% url 'registro:registrar_vehiculo' %}">Registrar Vehículo</a>
        <a href="{% url 'registro:registrar_registro' %}">Registrar Registro</a>
    </div>
</body>
</html>
